<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="/static/favicon.ico" type="image/png">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link
    href="https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap"
    rel="stylesheet">
  <link rel="stylesheet" href=" /static/tailwind.generated.css">
  <link rel="stylesheet" href=" /static/main.generated.css">
  <link rel="manifest" href=" /static/manifest.json">

	<!-- twitter meta tags -->
	<meta name="twitter:site" content="@metaldripping">
	<meta name="twitter:card" content="summary_large_image">
	<meta name="twitter:title" content="{{ title }}">
	<meta name="twitter:description" content="Vishesh Choudhary's Personal/Portfolio Website, Built With Rust.">

	<!-- opengraph tags -->
	<meta property="og:image" content="https://og-image.vercel.app/{{ title }}.png" />
	<meta property="og:image:width" content="1200">
	<meta property="og:image:height" content="600">
	<meta property="og:site_name" content="VisheshChoudhary">
	<meta property="og:type" content="object">
	<meta property="og:title" content="{{ title }}">
	<meta property="og:url" content="https://visheshchoudhary.me">
	<meta property="og:description" content="Vishesh Choudhary's Portfolio/Personal Website, Built With Rust.">
    

  <title>{{ title }}</title>
</head>

<body>
  <div class="flex flex-col max-w-5xl m-auto h-full p-6">
    {% include "header.html" %}

		<div class="col-span-3 mt-6 sm:m-0">
			<h1>Vishesh Choudhary</h1>
			<ul class="mt-2">
			    <li>Hello, I'm Vishesh. I am an Integrated MTech. Student Studying the Security and Privacy Concerns Within Distributed Machine Learning.</li>
			<hr class="m-1">

			<h2 class="mt-4">Skills</h2>
			<ul class="mt-2">
				<li>Kotlin/Java, Rust, Go, JS/TS, Python, Dart, Elixir, Clojure, Shell, C, C++, R, Scala and Other Languages</li>
				<li>React, Vue, Nuxt, Yew, WebAssembly</li>
				<li>Tailwind CSS, SaSS</li>
				<li><span class="tex">T<sub>e</sub>X</span> and <span class="latex">L<sup>a</sup>T<sub>e</sub>X</span></li>
				<li>Node.JS, ASP.NET Core, Flask, FastAPI, GraphQL, Phoenix and Other Web Frameworks</li>
				<li>MongoDB, MySQL, NoSQL</li>
				<li>Native Android, Flutter, React Native</li>
				<li>Docker</li>
				<li>Kubernetes</li>
				<li>TensorFlow</li>
			</ul>

			<h2 class="mt-6">Highlighted Projects</h2>
			<ul class="mt-2">
				<li><a href="https://github.com/visheshc14/Experimental-GoLang-ToDo">CLI Todo</a> -  Experimental CLI Built With GoLang, Postgre and Redis, Redis is Used to Handle Inserts During High Load, And New Records are Inserted into PostgreSQL With a Small Delay Using Batch Insert Operations. The Todos Entered in the CLI are Stored in a Database (Postgres). The Data Fetched From the Database is Cached in Redis.</li>
				<li><a href="https://github.com/visheshc14/Skin">Skin</a> -  Prevention of Session Hijacking using Session ID Reset Approach with the Implementation of Kerberos Algorithm Written in GoLang and Rust Separately.</li>	
				<li><a href="https://github.com/visheshc14/Mareux">Mareux</a> - Personal Portfolio Experimenation - JSX & SCSS (React & Scss).<a href="https://visheshc14.github.io/Mareux">visheshc14.github.io</a>
				<li><a href="https://github.com/visheshc14/Prisonic-Fairytale">Prisonic Fairytale</a> - Prisonic Fairytale - ChronoTrigger's Bad Clone With Massively Multiplayer Online Functionality Built With Godot Engine, Elixir & Docker. Prisonic Fairytale Name is Derived From Silent Hill - 2 Original Soundtrack - Prisonic Fairytale <a href="https://music.apple.com/gb/album/prisonic-fairytale/164069102?i=164070583">Soundtrack on Apple Music</a>.
				<li><a href="https://github.com/visheshc14/Electric-Funeral">Electric Funeral</a> - A Combination of Software Defined Network (SDN) And A Multi-Layer Perceptron (MLP) Neural Network That Results In The Mitigation of DDoS Attacks.</li>
	                        <li><a href="https://github.com/visheshc14/Xen">Xen</a> - Personal/Portfolio Website Built With Rust, Rocket, Javascript (Technically No-Javascript), Tailwind CSS And <span class="tex">T<sub>e</sub>X</span>.</li>
				<li><a href="https://github.com/visheshc14/Neural-Network-Art"> Neural Network Art</a> - A Neural Network That Generates Pieces of Art/Pictures Using Clojure.</li>
				<li><a href="https://github.com/visheshc14/Vostok">Vostok</a> - Vostok is a Rust-Based HTTP Transformation Layer To Seamlessly Convert REST Calls Into GraphQL Calls For Piecemeal API Migrations.</li>
				<li><a href="https://github.com/visheshc14/Evangelion">Evangelion</a> - Decentralized Chat Application Built With Node.js, Aleph.im, Docker, Tailwind CSS & Yew (Rust Frontend Framework).
				<li><a href="https://github.com/visheshc14/Audio-Arca">Audio Arca</a> - An Experimental Audio and Text Chat Client-Server Application Written in GoLang For Arca/Evangelion As An Sub-Modularity-Function which Focuses on Library PortAudio(I/O)-Architecture Testing.</li>
				<li><a href="https://github.com/visheshc14/Neo-Rust">Neo Rust</a> & <a href="https://github.com/visheshc14/Neo-Go">Neo Go</a> - Neo is a Single File Server. It Responds to Every GET Request it Receives with the Content of a Given File (Specified by ENV or CLI Argument), and for Every Other Request (with any other HTTP Method or Path) it returns a 404. Written in GoLang & Rust Separately.</li>
				<li><a href="https://github.com/visheshc14/dbench">dbench</a> - Benchmark Kubernetes Persistent Disk Volumes With FIO: Read/write IOPS, Bandwidth MB/s and Latency. Dockerized `dbench` Image Inspired by <a href= "https://github.com/leeliu/dbench/blob/master/docker-entrypoint.sh">leeliu/dbench</a> - Improvements Over Other `dbench` FIO_IOENGINE - Being Able to Set The `ioengine` Can Prevent Weird Situations Where Direct Looks Faster than Buffered Writes.</li>

			</ul>

			<h2 class="mt-8">Quick links</h2>
			<ul class="mt-2">
				<li><a href="https://github.com/visheshc14">GitHub</a></li>
				<li><a href="https://bitbucket.org/vishesh-choudhary/">Bitbucket</a></li>
				<li><a href="https://gitlab.com/visheshc14/">GitLab</a></li>
				<li><a href="https://soundcloud.com/vishesh-choudhary/">SoundCloud</a></li>
				<li><a href="https://www.behance.net/visheshchoudhary">Behance</a></li>
				<li><a href="https://www.linkedin.com/in/vishesh-choudhary">LinkedIn</a></li>
				<li><a href="https://www.facebook.com/thefaultinourpunkbands">Facebook</a></li>
				<li><a href="https://t.me/metaldripping">Telegram</a></li>
			        

			</ul>
		</div>
		<div class="col-span-3 mt-6 sm:m-0">
			<hr />	
			<li><a href=mailto:"visheshc14@gmail.com" class="text-sky-blue hover:text-white mx-4">Let's Talk!</a></li>
			
		<div>
		     
    {% include "footer.html" %}
  </div>
</body>

</html>
