<header class="flex flex-wrap justify-center items-center pb-8 pt-2">
    <a href="/" class="text-lavender hover:text-white mx-4">Vishesh</a>
    <a href="/blog" class="text-lavender hover:text-white mx-4">Blog</a>
    <!-- <a href="#" class="text-lavender hover:text-white mx-4">Gallery</a> -->
    <a href="/static/Vishesh Resume.pdf" class="text-lavender hover:text-white mx-4">Resume</a>
</header>
